.navbar {
  padding: 0.9375rem;
  width: 100%;
  z-index: 1050;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.navbar.active {
  background-color: var(--bg_blue);
  position: fixed;
}

.navbar-nav {
  flex-direction: row !important;
  gap: 20px;
}
/* @media (max-width: 767px) {
  .navbar-nav{
    display: none !important;
  }
} */
.order{
  order: 2;
  display: flex;
}
.nav-item .nav-link {
  position: relative;
  color: inherit;
  line-height: 20px;
  display: inline-flex;

}
.itmemenu{
  margin-left: auto;
}
.nav-item .nav-link:hover {
  color: var(--clr_pink);
}

.navbar .navbar-brand {
  position: relative;
  padding: 0;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1rem;
}
.navbar-brand{
  width: 20%;
}
.navbar-brand img {
  /* width: calc(50% - 60px); */
  width: 30%;
}
.navbar .main_btn {
  margin-inline-start: 20px;
}

.navbar ul li {
  display: inline-block;
}
.navbar ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 0;
}
.navbar ul li a{
  font-size: 18px;
  color: var(--clr_white);
}
.navbar ul li a.active{
  color: var(--clr_pink);
}

.menubar {
  display: none;
}
.menubar svg {
  font-size: 35px;
}
.mobile{
  display: none;
}
@media (max-width: 767px) {
  .menubar {
    display: block;
    margin-left: 0;
    order: 2;
  }
}
.close{
  display: none;
}
.close svg{
  font-size: 30px;
}
#mobileNav{
  position: fixed;
  background: #171941;
  padding-block: 20px;
}


/* @media (max-width: 767px) {
  .nav-elements {
    position: absolute;
    right: -100%;
    top: 70px;
    background-color: #1ec0b7;
    width: 270px;
    height: calc(100vh - 60px);
    transition: right 0.4s ease-in-out;
    overflow: hidden;
    padding-inline: 25px !important;
    padding-block: 25px;
  }
  
  .nav-elements.active {
    right: 0;
  }
  
  .nav-elements ul {
    display: flex;
    flex-direction: column;
    border: none;
  }
  .nav-elements ul li a{
    color: var(--color-secondary);
  }
  
  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
    margin: 0 !important;
    padding-block: 10px !important;
  } 
}*/
/* ============================= mobile menu */
@media (max-width: 991px){
  .squares.square2{
    top: 0;
  }
}
@media (max-width: 767px) {

 .navbar_menunav {
    width: 270px;
    background: #2a1e50;
    height: 100vh;
    display: block;
    /* flex-direction: column !important; */
    gap: 10px;
    padding-inline: 30px;
    position: absolute;
    top: 0;
    right: -100%;
    padding-block: 80px 30px !important;
    padding-inline: 30px !important;
    transition: right 0.4s ease-in-out;
  }
  .navbar_menunav.active {
    right: 0;
  }
  .navbar_menunav.closex {
    right: -100%;
  }
  .navbar_menunav ul{
    margin-left: 0;
    flex-direction: column; 
    align-items: start !important;

  }
 .navbar_menunav li{
    display: block !important;
    /* padding-inline: 10px; */
    padding-block: 10px;
  }
   .close{
    display: block;
    position: absolute;
    top: 25px;
    left: 40px;
  }
  
}
@media (max-width: 768px) {
  .navbar>.container{
    flex-wrap: nowrap !important;
  }
}

@media (max-width: 576px) {
  .mobile{
    display: block;
  }
  .desk{
    display: none;
  }
}
@media (max-width: 480px) {
  .navbar-brand img {
    width: 49%;
}
}