.footer_sec {
    background-color: var(--bg_blue);
    width: 100%;
    height: 100%;
    padding: 40px;
    text-align: center;
}
.f_logo img{
    width: 100px;
}
.f_info{
    margin-block: 20px 10px;
}
.f_info ul li {
    display: inline-block;
}
.f_info ul li a svg{
    font-size: 20px;
    color: var(--clr_white);
}