
.title{
    font-size: 35px;
    font-weight: 500;
    color: var(--clr_skyblue);
    line-height: 27px;
}
@media (max-width: 480px){
  .title {
    font-size: 25px;
  }
}

.heda2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
}
.head3{
    color: var(--clr_skyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    
}
.sub_heading {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-block-start: 20px;
    color: var(--clr_skyblue);
    
}

/* paragraph */
.body2{
    font-size: 14px;
    color: var(--clr_skyblue);
    line-height: 27px;
}
.h1_seo{
    font-size: 3.5rem;
  }
  @media (max-width: 991px) {
    .h1_seo{
      font-size: 2rem;
    }
  }
  @media (max-width: 767px) {
    .h1_seo{
      font-size: 1.4rem;
    }
  }
  .sub_heading{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-block-start: 20px;
  }
  @media (max-width: 767px) {
    .sub_heading{
      font-size: 1.2rem;
    }
  }


  

/* common class style add here */

.main_btn{
    background: rgb(225,78,202);
    background: linear-gradient(352deg, rgba(225,78,202,0.5131302521008403) 0%, rgba(186,84,245,0.5327380952380952) 35%, rgba(225,78,202,0.6671918767507004) 100%);
    transition: all 0.15s ease;
    box-shadow: none;
    color: #ffffff;
    width: fit-content;
    padding: 8px 30px;
    border-radius: 50px;
    font-size: 14px;
    text-transform: capitalize;
  }
  .main_btn:hover{
    letter-spacing: 1.5px;
    color: var(--clr_white);
  }
  @media (max-width: 991px){
    .container{
        max-width: 90% !important;
      }
  }
  