


.work_page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    text-align: center;
}
.inner{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.inner_info{
    position: relative;
    top: -69px;
    left: 122px;
    width: 20%;
    height: 50%;
    border-top: 4px solid #ba54f5;
    border-right: 4px solid #ba54f5;
    transform: rotate(45deg);
    /* background-color: #171941; */
    /* transform: rotate(93deg); */
    z-index: 9;
    padding: 100px;
    right: 0;
    margin: auto;
}
.inner_info::after {
    content: '';
    position: absolute;
    top: 31px;
    right: 162px;
    width: 73px;
    height: 4px;
    background-color: #ba54f5;
    transform: rotate(90deg);
}
.inner_info::before {
    content: '';
    position: absolute;
    top: 196px;
    right: 0;
    width: 120px;
    height: 4px;
    background-color: #ba54f5;
}
.innersub_heading{
    background: #CF40C5;
    background: linear-gradient(to right, #CF40C5 26%, #BA54F5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: bold;
}
@media (max-width: 991px){
    .inner_info {
        left: 0 !important;
    }
}
@media (max-width: 768px) {
    .inner_info{
        left: 0;
    }
    .inner .content_center.brand {
        position: relative;
        margin-top: -218px;
    }
}
@media (max-width:576px){
    .inner_info {
        position: relative;
        top: 20px;
        left: 0;
    }
    .inner {
        width: 100%;
        height: 66vh;
    }

        .inner .content_center.brand {
           position: relative;
           margin-top: -132px;
       }
       
}