@import '../src/assets/css/root.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;

}

body{
  font-family: "Poppins", sans-serif !important;
  font-size: .8rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: var(--clr_white) !important;
  text-align: left !important;
  background-color: var(--bg_body_dark) !important;
  overflow-x: hidden;
}

p{
  margin: 0;
  padding: 0;
}
button{
  outline: 0;
  border: 0;
  background: transparent;
}
ul{
  margin: 0;
  padding: 0 !important;
}
a{
  text-decoration: none !important;
}
li{
  list-style-type: none !important;
}
input{
  border: none;
  box-shadow: none;
  outline: none;
}
input:focus, input:focus-visible{
  outline: none;
  box-shadow: none !important;
}
.form-control{
  color: var(--clr_skyblue) !important;
  font-size: 14px !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: var(--clr_skyblue) !important;
  font-size: 14px !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: var(--clr_skyblue) !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-size: 14px !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--clr_skyblue) !important;
  font-size: 14px !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--clr_skyblue) !important;
  font-size: 14px !important;
}

::placeholder { /* Most modern browsers support this now. */
  color: var(--clr_skyblue) !important;
  font-size: 14px !important;
}